<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
      <i class="fa fas-user"></i>
        <div class="sidebar-brand-text mx-3">Admin Panel</div>
    </a>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}"><h6>Search User</h6></a>
        <a class="nav-link" href="#"><h6>List of User</h6></a>
    </li>

</ul>
<!-- End of Sidebar -->